.main-box {
  padding: 15px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .main-box {
    width: 80%;
  }
}

.showHint{

border: none;
margin-top: 0.5rem;
background-color: transparent;

}
