img {
  padding-left: 90px;
}

.menu-items {
  padding-right: 90px;
}

a {
  color: #9B51E0;
  text-decoration: none;
   font-weight:1rem;
}

@media (max-width: 480px) {
  .navbar-z {
    z-index: 10;
    }
  img {
    padding-left: 0px;
  }
  .menu-items {
    padding-right: 0px;
  }
}
