.company-login {
  padding: 15px;
  width: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heading {
  margin-top: 15px;
}
@media (max-width: 480px) {
  .company-login {
    width: 80%;
    top: 50%;
  }
  .heading {
    margin-top: 3rem;
  }
}
